.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: whilte;
  border-radius: 5px;
  display: none;
}

.show {
  display: block !important;
}

.unshow {
  display: none;
}

.show-modal {
  visibility: visible !important;
  opacity: 1 !important;
}
.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.white-bg {
  background: rgb(224, 220, 220);
  border-radius: 5px;
  padding: 30px;
}

.list-group {
  overflow-y: hidden;
  max-height: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.close-list-group {
  max-height: 500px;
}
